name: Deploy

on:
  workflow_call: {}

jobs:
  deploy:
    runs-on: [self-hosted, smilekun-legion]
    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: echo "DB_DSN=${{ secrets.DB_DSN }}" > .env

      - name: Run Docker container with .env
        run: docker run -d --name media_porter_container --env-file .env -p 8000:8000 media_porter:${{ github.sha }}